/* styles.css */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px;
    box-sizing: border-box;
    transition: background 0.3s;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 60px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .form-section {
    flex: 1;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    transition: background 0.3s, color 0.3s;
  }
  
  .form-container {
    text-align: center;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  .button {
    width: 85%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ffffff;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .slogan {
    font-size: 1.2rem;
  }

  .image-slider {
    width: 21vw;
    height: 50vh;
    border-radius: 23px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 10px;
    }
  
    .image-section {
      display: none;
    }
  
    .heading {
      font-size: 1.5rem;
    }
  
    .logo {
      font-size: 2rem;
    }
  
    .slogan {
      font-size: 1rem;
    }
  }

  @media (max-width: 1200px) {
    .image-slider {
      width: 24vw;
      height: 50vh;
      border-radius: 20px;
    }
  }

.theme-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .logout-button {
    font-size: 14px; /* Smaller font size */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 12px; /* Small padding */
    width: auto; /* Ensure it doesn’t take up 100% width */
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .logout-button:hover {
    background-color: #ff4d4d; /* Visual feedback on hover */
  }
  